:root {
  --chat-list-item-bg: var(--input-bg);
  --avatar-bg: var(--accent-light);
  --dimmed-txt-clr: #666;

  --primary: hsl(0, 100%, 100%);
  --bg: hsl(348, 94%, 94%);
  --bg-from: #fffefe;
  --bg-to: #ffecec;
  --highlight: #fee1e7;
  --input-bg: #fff7f9;
  --main-input-bg: #f3dfe492;
  --border: #e0e0e0;
  --accent-too-light: #fff8fa;
  --accent-to-light: #fddae3;
  --accent-light: #fec4d3;
  --accent-md: #fda4bc;
  --accent: #ff6290;
  --accent-dark: #ff2a6a;
  --on-accent: #fce3ea;
  --accent-txt: #ed7698;
  --sidebar-clr: white;

  --shadow-clr: rgba(0, 0, 0, 0.1);
  --shadow-elevation: 0 0px 16px 6px rgba(0, 0, 0, 0.1);
  --input-shadow: -3px 4px 6px 1px rgba(0, 0, 0, 0.1);

  // --shadow: 0 0 8px rgba(158, 13, 13, 0.075);

  --positive: rgb(248, 255, 248);
  --on-positive: rgb(0, 128, 0);

  --negative: rgb(254, 242, 242);
  --on-negative: rgb(128, 0, 0);

  --neutral: rgb(242, 242, 251);
  --on-neutral: rgb(0, 0, 128);

  --sidebar-sm-height: 62.0001px;
}

@media (prefers-color-scheme: dark) {
  :root {
    // --avatar-bg: var(--accent-light);
    // --dimmed-txt-clr: #666;
    // --bg: #493341;
    // --bg-from: #4c313b;
    // --bg-to: #270e1f;
    // --highlight: #533238;
    // --input-bg: #351c2e;
    // --border: #443441;
    // --accent-too-light: #4d343b;
    // --accent-to-light: #54274e;
    // --accent-light: #473037;
    // --accent-md: #302326;
    // --accent: #852b85;
    // --accent-dark: #d424cb;
    // --on-accent: #fce3f9;
    // --accent-txt: #e235c8;

    --chat-list-item-bg: transparent;
    --avatar-bg: var(--accent-light);
    --dimmed-txt-clr: #666;
    --bg-light: #3b3438;
    --bg: #1e1a1c;
    --bg-from: #292429;
    // --bg-from: #232222;
    --bg-to: #120e11;
    --highlight: #352c35;
    --input-bg: #372735;
    --main-input-bg: #3f3038;
    --border: #2e2e2e;
    --accent-too-light: #2f212e;
    --accent-to-light: #54274e;
    --accent-light: #493247;
    --accent-md: #30232f;
    --accent: #863381;
    --accent-dark: #7a4177;
    --on-accent: #fce3f9;
    --accent-txt: #b88ab1;
    --shadow-clr: rgba(0, 0, 0, 0.3);
  }
}

@mixin lg-screen {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin md-screen {
  @media (max-width: 1350px) {
    @content;
  }
}

@mixin sm-screen {
  @media (max-width: 767px) {
    @content;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);

  /* background: linear-gradient(45deg, red, blue); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
  font-family: sans-serif;
  height: 100dvh;
}

body::before {
  content: "";
  position: fixed;
  height: 100vh; // don't use dvh here, bcz on first scroll element shift
  inset: 0;
  z-index: -1;
  background: linear-gradient(45deg, var(--bg-from), var(--bg-to));
}
*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input {
  accent-color: var(--accent);
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"] {
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 4px;
  background-color: var(--input-bg);
  border: 1px solid var(--border);

  &:focus {
    outline: 2px solid var(--highlight);
  }
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--accent);
}
.icon-btn {
  padding: 0px;
  &:focus,
  &:hover {
    outline: none;
    border: none;
  }
}

.password-input {
  position: relative;

  .eye-icon {
    position: absolute;
    right: 2px;
    top: 1px;
    padding: 5px 12px;
    padding-top: 12px;
    font-size: 20px;
  }
}

/*  @Layout  */

.notifications-page {
  height: calc(100dvh - 62px);
  display: grid;
  place-items: center;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffecea34;
  backdrop-filter: blur(4px);
}
.hidden {
  display: none;
}

.popup-box {
  position: absolute;
  z-index: 1;
  /*  background: linear-gradient(45deg, var(--bg-from), var(--bg-to)); */
  background-color: var(--bg);
  border: 1px solid rgba(128, 128, 128, 0.222);
  padding: 20px;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 550px;
  min-height: 220px;
  translate: -50% -50%;
  box-shadow: 2px 2px 10px 8px rgba(145, 120, 120, 0.132);
}

.basic-popup {
  padding: 20px 25px;
  padding-bottom: 0px !important;
  min-height: 160px;

  .title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 25px;

    button.primary {
      background-color: var(--accent-dark);
      color: var(--on-accent);
      font-weight: 600;
      font-size: 14px;
      padding: 8px 24px;
      border-radius: 16px;
    }
  }
}

.profile-pic-popup {
  /* top: 20%;
  top: 0;
  left: 0; */
  background-color: transparent;
  display: flex;
  justify-content: center;
  box-shadow: none;
  border: none;
  width: fit-content;
  width: 100%;
  img {
    border-radius: 8px;
    width: 90%;
  }

  .profile-pic {
  }
}

.chat-section {
  position: relative;
}

.image-crop-2 {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;
  background-color: var(--bg);
  /* background: linear-gradient(45deg, var(--bg-from), var(--bg-to)); */
  position: absolute;
  top: 67px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: calc(100% - 67px);

  .container {
    width: 100%;
    display: flex;
    margin: 20px auto;
    height: calc(100vh - 70px - 67px - 80px);

    img {
      width: 100%;
      object-fit: contain;
      height: calc(100vh - 70px - 67px - 100px);
    }
  }

  .crop-mode {
    width: 100%;
    height: calc(100% - 80px);
  }

  .normal-mode {
    margin-top: 0px;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    align-items: start;

    img {
      width: 100%;
      height: calc(100vh - 70px - 67px - 100px);
      object-fit: contain;
      /* object-fit: cover; */
    }

    .mssg {
      position: absolute;
      bottom: 80px;
      left: 20px;
      border-radius: 20px;
      right: 20px;
      padding: 10px 20px;
    }
  }
  .bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 60px;
    backdrop-filter: blur(8px);
    background-color: rgba(3, 3, 3, 0.27);
    background-color: var(--accent-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    button.cancel {
      background-color: transparent;
      color: var(--txt-clr);
    }
    .right {
      /* background-color: blue; */
      display: flex;
      align-items: center;
      gap: 15px;

      .crop-icon {
        padding: 12px 13px;
        padding-bottom: 7px;
        padding-left: 13px;
        backdrop-filter: blur(10px);
        border-radius: 20px;
      }

      .round-icon-btn {
        padding: 6px 11px;
        padding-top: 11px;
        padding-left: 15px;
        backdrop-filter: blur(10px);
        background-color: var(--accent-dark);
        color: var(--on-accent);
        border-radius: 20px;
      }
    }
  }

  @include sm-screen {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100dvh;
    .container {
      flex-direction: column;
      height: 100vh;
    }
    .crop-mode {
      display: flex;
      align-items: center;
      height: 70vh;
      .container {
        height: 80%;
        display: flex;
        align-items: center;
        width: calc(100vw - 40px);
      }
    }
    .crop-mode,
    .normal-mode {
      position: fixed;
      margin: 0;
      width: 100vw;
      height: 100dvh;
      background-color: black;

      input.mssg {
        background-color: rgba(0, 0, 0, 0.331);
        backdrop-filter: blur(7px);
        border-color: rgba(255, 255, 255, 0.388);
        width: 90vw;

        right: 20px;
        padding: 8px 16px;
        color: white;

        &::placeholder {
          color: rgba(255, 255, 255, 0.611);
        }

        &:focus {
          // outline: 2px solid rgba(0, 0, 0, 0.379);
          outline: 2px solid rgba(255, 255, 255, 0.322);
        }
      }

      .bottom,
      .mssg {
        position: fixed;
        width: 100vw;
      }
      .bottom {
        background-color: rgba(3, 3, 3, 0.27);
        color: gray;
        button.cancel {
          color: var(--accent-too-light);
        }
      }
    }
  }
}

progress {
  width: 95%;
  color: green;
  height: 8px;
  border: 1px solid var(--accent-light);
  border-radius: 8px;
  background-color: transparent;
  accent-color: var(--accent-light);

  &::-webkit-progress-bar {
    background-color: var(--accent-too-light);
    border-radius: 16px;
  }
  &::-webkit-progress-value {
    background-color: var(--accent-md);
    border-radius: 16px;
  }
}

:root {
  // --background: #f5f5f5;
  // --popup-surface: #fff;
  --overlay: #16161691;
  --overlay: red;
  // --shadow: 0px 0px 25px 0px rgba(16, 16, 16, 0.279);
  // --light-shadow: 0px 0px 5px 5px rgba(16, 16, 16, 0.109);
  --blur: 2px;
  // --border-clr: #ccc;
}

#context-overlay {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.context-menu {
  background-color: var(--bg-light);
  border-radius: 6px;
  border: 1px solid var(--border);
  box-shadow: 2px 2px 5px 0px var(--shadow-clr);
  z-index: 2;
}
.context-menu-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 13px;
  z-index: 3;
  &:not(:last-child) {
    border-bottom: 1px solid var(--border);
  }

  &:hover {
    background-color: var(--bg);
    border-radius: 0px;
    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    &:last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}
