:root {
  --chat-list-item-bg: var(--input-bg);
  --avatar-bg: var(--accent-light);
  --dimmed-txt-clr: #666;
  --bg: #fee1e7;
  --bg-from: #fffefe;
  --bg-to: #ffecec;
  --highlight: #fee1e7;
  --input-bg: #fff7f9;
  --border: #e0e0e0;
  --accent-too-light: #fff8fa;
  --accent-to-light: #fddae3;
  --accent-light: #fec4d3;
  --accent-md: #fda4bc;
  --accent: #ff6290;
  --accent-dark: #ff2a6a;
  --on-accent: #fce3ea;
  --accent-txt: #ed7698;
}

@media (prefers-color-scheme: dark) {
  :root {
    --chat-list-item-bg: var(--input-bg);
    --avatar-bg: var(--accent-light);
    --dimmed-txt-clr: #666;
    --bg: #493533;
    --bg-from: #1c1b1b;
    --bg-to: #270e0e;
    --highlight: #533238;
    --input-bg: #351c22;
    --border: #443434;
    --accent-too-light: #734653;
    --accent-to-light: #542732;
    --accent-light: #473037;
    --accent-md: #302326;
    --accent: #852b4c;
    --accent-dark: #b02044;
    --on-accent: #fce3ea;
    --accent-txt: #e23566;
  }
}

@mixin lg-screen {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin md-screen {
  // @media (min-width: 769px) and (max-width: 1024px) {
  //   @content;
  // }
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin sm-screen {
  @media (max-width: 768px) {
    @content;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);
  background: linear-gradient(45deg, var(--bg-from), var(--bg-to));
  // background: linear-gradient(45deg, red, blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input {
  accent-color: var(--accent);
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"] {
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 4px;
  background-color: var(--input-bg);
  border: 1px solid var(--border);

  &:focus {
    outline: 2px solid var(--highlight);
  }
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--accent);
}
.icon-btn {
  padding: 0px;
  &:focus,
  &:hover {
    outline: none;
    border: none;
  }
}

.password-input {
  position: relative;

  .eye-icon {
    position: absolute;
    right: 2px;
    top: 1px;
    padding: 5px 12px;
    padding-top: 12px;
    font-size: 20px;
  }
}

.app {
  display: flex;
  height: 100vh;
  align-items: center;

  .routes {
    flex-grow: 1;
  }
  @include md-screen() {
    .side-bar {
      padding-inline: 10px;
      .icon-outer {
        padding-top: 12px;
        padding-bottom: 5px;
        padding-inline: 16px;

        font-size: 28px;
      }
    }
  }

  @include sm-screen {
    align-items: stretch;
    flex-direction: column;
    height: 100dvh;
    .routes {
      height: calc(100vh - 62px);
    }
    .side-bar {
      order: 2;
    }
  }
}

.page {
  height: 100%;
  // background-color: red;
}

.notifications-page {
  height: calc(100dvh - 62px);
  display: grid;
  place-items: center;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffecea34;
  backdrop-filter: blur(4px);
}
.hidden {
  display: none;
}

.popup-box {
  position: absolute;
  z-index: 1;
  // background: linear-gradient(45deg, var(--bg-from), var(--bg-to));
  background-color: var(--bg);
  border: 1px solid rgba(128, 128, 128, 0.222);
  padding: 20px;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 550px;
  min-height: 220px;
  translate: -50% -50%;
  box-shadow: 2px 2px 10px 8px rgba(145, 120, 120, 0.132);
}

.basic-popup {
  padding: 20px 25px;
  padding-bottom: 0px !important;
  min-height: 160px;

  .title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 25px;

    button.primary {
      background-color: var(--accent-dark);
      color: var(--on-accent);
      font-weight: 600;
      font-size: 14px;
      padding: 8px 24px;
      border-radius: 16px;
    }
  }
}

.profile-pic-popup {
  // top: 20%;
  // top: 0;
  // left: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  box-shadow: none;
  border: none;
  width: fit-content;
  width: 100%;
  img {
    border-radius: 8px;
    width: 90%;
  }

  .profile-pic {
  }
}

//@image-edit

.chat-section {
  position: relative;
}

.image-crop-2 {
  position: absolute;

  right: 0;
  width: calc(100% - 40px);
  height: 85vh;
  background-color: var(--bg);
  background: linear-gradient(45deg, var(--bg-from), var(--bg-to));
  position: absolute;
  top: 120px;
  left: 20px;
  right: 20px;

  // top: 50%;
  // left: 50%;
  // translate: -50% -50%;

  .container {
    // height: 70vh;
    width: 100%;
    display: flex;
    margin: 20px auto;
  }

  .crop-mode {
    width: 100%;
  }

  .normal-mode {
    margin-top: 0px;
    height: 70vh;
    overflow-y: hidden;
    display: flex;
    align-items: start;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      // object-fit: cover;
    }

    .mssg {
      position: absolute;
      bottom: 80px;
      left: 20px;
      border-radius: 20px;
      right: 20px;
      padding: 10px 20px;
    }
  }
  .bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 60px;
    backdrop-filter: blur(8px);
    background-color: rgba(3, 3, 3, 0.27);
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.764);
    align-items: center;
    padding: 8px 20px;
    button.cancel {
      background-color: transparent;
      color: var(--accent-too-light);
    }
    .right {
      // background-color: blue;
      display: flex;
      align-items: center;
      gap: 15px;

      .crop-icon {
        padding: 12px 13px;
        padding-bottom: 7px;
        padding-left: 13px;
        backdrop-filter: blur(10px);
        border-radius: 20px;
      }

      .send-icon {
        padding: 6px 11px;
        padding-top: 11px;
        padding-left: 15px;
        backdrop-filter: blur(10px);
        background-color: var(--accent-dark);
        color: var(--on-accent);
        border-radius: 20px;
      }
    }
  }

  @include sm-screen {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100dvh;
    .container {
      flex-direction: column;
      height: 100vh;
    }
    .crop-mode {
      display: flex;
      align-items: center;
      height: 70vh;
      .container {
        height: 80%;
        display: flex;
        align-items: center;
        width: calc(100vw - 40px);
      }
    }
    .crop-mode,
    .normal-mode {
      position: fixed;
      margin: 0;
      width: 100vw;
      height: 100dvh;
      background-color: black;

      input.mssg {
        background-color: rgba(0, 0, 0, 0.331);
        backdrop-filter: blur(7px);
        border-color: rgba(255, 255, 255, 0.388);
        width: 90vw;

        right: 20px;
        padding: 8px 16px;
        color: white;

        &::placeholder {
          color: rgba(255, 255, 255, 0.611);
        }

        &:focus {
          // outline: 2px solid rgba(0, 0, 0, 0.379);
          outline: 2px solid rgba(255, 255, 255, 0.322);
        }
      }

      .bottom,
      .mssg {
        position: fixed;
        width: 100vw;
      }
    }
  }
}

progress {
  width: 95%;
  color: green;
  height: 8px;
  border: 1px solid var(--accent-light);
  border-radius: 8px;
  background-color: transparent;
  accent-color: var(--accent-light);

  &::-webkit-progress-bar {
    background-color: var(--accent-too-light);
    border-radius: 16px;
  }
  &::-webkit-progress-value {
    background-color: var(--accent-md);
    border-radius: 16px;
  }
}
